.env
*.pem
*.key
*.p12
vault-data/
*.tfstate*
node_modules/
__pycache__/
.synthea/
.venv/
.DS_Store
compose/phase2/certs/
compose/phase2/generated/
compose/phase3/certs/
compose/phase3/generated/
compose/phase4/certs/
compose/phase4/generated/
compose/phase5/certs/
compose/phase5/generated/
servers/*/node_modules/
servers/*/dist/
